#img {
    float: left;
    height: 100%;
    width: 15%;
    margin-top: -12px;
    padding: 0.5px;
}

header > .boh {
    border-right: 1px solid rgb(112, 112, 112);
    float: left;
    width: 24%;
}


header > .boh:last-of-type{
    border-right: none;
}

ul#menu li {
    display: inline;
    float: none;
}






#immagine > .car {
    width: 100%;
    height: 400px;
}

#conteiner {
    position: relative;
    max-width: 600px;
    margin: auto;
}

#conteiner > .text-on-img {
    width: 100%;
    height: 400px;
    font-size: 17px;
    font-family: inherit;
    color: white;
    margin-top: -380px;
}