#intestazione {
    background-color: rgb(95, 95, 95);
    height: 90px;
    border-radius: 10px;
    margin: 1px;
}
#intestazione > .logo {
    float: left;
    margin: 10px;
    background-color: white;
    border-radius: 40px;
    height: 70px;
    width: 5%;
    text-align: center;
}
#menu {
    border: 2px solid blue;
    border-radius: 10px;
    float:left;
    height: 480px;
    width: 25%;
}

#contenuto {
    border-radius: 10px;
    background-color: rgb(210, 210, 210);
    float: right;
    height: 480px;
    width: 74%;
}

#contenuto > .content {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    float:left;
    height: 25%;
    width: 22%;
    padding: 1%;
    margin:4px;
}

#footer {
    border: 2px solid red;
    position: absolute;
    bottom: 0px;
    clear:both;
    min-height: 150px;
    position: absolute;
    width: 99%;
}

#footer > .footer-column {
    border-right: 1px solid red;
    float: left;
    width: 24%;
}

#footer > .footer-column:last-of-type {
    border-right: none;
}