body {
    background-color: black;
    color: #333;
}

#conteiner {
    width: 60%;
    margin: auto;
}
h1 {
    color: white;
    margin: 10% 40%;
}


#logo {
    width: 8%;
}

#conteiner > .box {
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    display: inline-block;
    height: 20%;
    width: 10%;
    padding: 1%;
    background-image: url("../assets/avatarNetflix.png");
    background-position: center;
}