body{
    background-color: rgb(0, 0, 0);
}


#logo {
    width: 8%;
}

#boxes {
    width: 60%;
    margin: auto;
}

#boxes > .content{
    position: absolute;
    margin-top: 10%;
    display: inline-block;
    height: 20%;
    width: 10%;
    padding: 1%;
    background-image: url("../assets/avatarNetflix.png");
    background-position: center;
} 


#boxes > .content1{
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    display: inline-block;
    height: 20%;
    width: 10%;
    padding: 1%;
    background-image: url("../assets/avatarNetflix.png");
    background-position: center;
}

#boxes > .content2{
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    display: inline-block;
    height: 20%;
    width: 10%;
    padding: 1%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.500);
    background-image:url("../assets/più.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


p{
    font-family: 'Netflix Sana' , 'HelveticaNeue', Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-size: 20px;
    margin-top: 100%;
    padding: 30%;
    color: #fcfaf7ab
}

#title >  h1{
    font-family: 'Netflix Sana' , 'HelveticaNeue', Arial, Helvetica, sans-serif;
    margin-right: 44%;
    margin-top: 5%;
    text-align: center;
    float: right;
    color: white;
}

button{
    font-family: 'Netflix Sana' , 'HelveticaNeue', Arial, Helvetica, sans-serif;
    border-color: white;
    font-size: large;
    color: white;
    background-color: black;
    position: absolute; left:44%;
    margin-top: 30%;
    padding-inline: 1%;
    padding-block: 1%;
    text-align: center;
}

button:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.863);
    background-color:  rgba(80, 80, 80, 0.863);
}



.content:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255);
    cursor: pointer;
}

.content1:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255);
    cursor: pointer;
}

.content2:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255);
    cursor: pointer;
}

p:hover{
    font-size: 22px;
    cursor: pointer;
    color: cornsilk;
}