
table{
    border-collapse: collapse;
    width : 100%;
    height: 200px;
    border: medium solid rgb(0, 0, 0);
}

thead{
    text-transform: capitalize;
    font: bold 15px/1.5 Space Grotesk,Arial,sans-serif;
}

th, td {
    border: medium solid rgb(255, 255, 00);
}

tr:hover{
    background-color: red;
    border-radius: 2px;
}

button{
    float: right;
}
