.conteiner {
    display: flex;
}

.contacts {
    background-color: white;
    display: flex;
    margin: 2px;
}

.header {
    background-color: rgba(218, 214, 214, 0.63);
    display: flex;
}

.prova {
    display: flex;
    flex-direction: column;
}

#profile {
    border-radius: 100%;
    background-color: white;
    width: 70px;
    height: 70px;
    margin: 15px;
}

#profile > img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

#profil {
    border-radius: 100%;
    background-color: whitesmoke;
    width: 65px;
    height: 65px;
    margin: 15px;
}

#profil > img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

#people {
    width: 20%;
    background-color: rgb(99, 99, 99);
}

#message {
    width: 80%;
}

#back {
    width: 100%;
}

